 *{
    padding :0;
    margin :0;
    box-sizing: border-box;
 }


 body{
    display : flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke,#475569);
 }

 header,main,footer{
   display: grid;
   grid-template-columns: 100%;
   text-align: center;
   place-content: center;
 }
 header{
    background-color: #1e293b;
    color :whitesmoke;
    top :0;
 }

 main{
   flex-grow: 1;
 }
 footer{
    bottom :0;
    position: sticky;
    background-color: #1e293b;
    color :whitesmoke;
 }