body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    }

p{
    color: #333;
}

/*
coolers.co- for color palletes, and contrast check

for contrast checks: webaim

hex, hsl, rgb(). rgbaplha()


*/