body{
    padding : 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
button,input{
    font : inherit;
}

p{
   /*  text-decoration: none; */
   text-transform: uppercase;
   text-align: left;
   text-indent: 2em;
   line-height: 2; /* default is 1.2 */
   /* letter-spacing: 0.25em ; */
   /* word-spacing: 2em; */
   /* font-weight: bolder; */
   font-style: italic;

}
/*
font families that are generic
serif- academic
sans-serif- popular webpgs
monospace- old type writer 
cursive- 
fantasy*/

/* fonts.google.com downloaD font family here */